### data types

In [1]:
name="Laxmi"
type(name)

str

In [2]:
x=100
type(x)

int

In [3]:
x=10.8
type(x)

float

In [4]:
x=True
type(x)

bool

### Variables

In [5]:
name="Laxmi"
name

'Laxmi'

In [6]:
name lists="laxmi","shukla"
name lists

SyntaxError: invalid syntax (2879183803.py, line 1)

### Varibles names should not have space

In [7]:
1name="laxmi"
1name

SyntaxError: invalid decimal literal (1855224364.py, line 1)

### Variable name should not start with number

In [8]:
name1ok="laxmi"
name1ok

'laxmi'

In [9]:
name_lists="Laxmi","Shukla"
name_lists

('Laxmi', 'Shukla')

In [10]:
name+lists="Laxmi","Shukla"
name+lists

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3873952968.py, line 1)

### only underscore is allowed in special character

In [11]:
_name="lux"
_name

'lux'

### variable names can start with A-Z,a-z,_

### Lists

In [12]:
list=[1,2.3,-5,"Laxmi"]
list

[1, 2.3, -5, 'Laxmi']

In [13]:
type(list)

list

In [14]:
list[0]

1

In [15]:
list[3]

'Laxmi'

In [16]:
list[5]

IndexError: list index out of range

### list index should not be out of list

In [17]:
list[-1]

'Laxmi'

In [18]:
list[-3]

2.3

In [19]:
list[-4]

1

In [20]:
list[-5]

IndexError: list index out of range

### index is out of range

In [21]:
list[2]="Hello"
list

[1, 2.3, 'Hello', 'Laxmi']

### list is mutable(we can change the list elements)

### list has multiple datatypes

### list items should store in square brackets

### list items retrived through indexing from 0 to range and from -1 to range

### Tuples in python

In [22]:
tuple=(1,2,4,5,7)
tuple

(1, 2, 4, 5, 7)

In [23]:
type(tuple)

tuple

In [24]:
tuple[3]

5

In [25]:
tuple[2]=200

TypeError: 'tuple' object does not support item assignment

### tuple is immutable (we cannot change the elements of tuple)

### tuples elements are stored in closed brackets or without brackets

### Dictonary in python

In [26]:
dict={'name':"Laxmi","hobbies":["Singing","Poetry"],10:60.4}
type(dict)

dict

In [27]:
dict

{'name': 'Laxmi', 'hobbies': ['Singing', 'Poetry'], 10: 60.4}

In [28]:
dict.keys()

dict_keys(['name', 'hobbies', 10])

In [29]:
dict.values()

dict_values(['Laxmi', ['Singing', 'Poetry'], 60.4])

In [30]:
dict['hobbies']

['Singing', 'Poetry']

In [31]:
dict['name']

'Laxmi'

In [32]:
dict[10]

60.4

In [33]:
dict["courses"]="python"
dict

{'name': 'Laxmi',
 'hobbies': ['Singing', 'Poetry'],
 10: 60.4,
 'courses': 'python'}

### Dictonary is mutable
### Dictonary stored data in key-value pair
### We retrive values using index

### elements are stored in curly braces {}